################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Build/Business.Mobile/bin
/Build/Business.Mobile/obj
/Build/Business.Net/bin
/Build/Business.Net/obj
/Build/Business.Standard/bin
/Build/Business.Standard/obj

*.user
*.suo
*.nupkg
/.vs
bin
obj
