################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Business.Core/bin
/Business.Core.Test/bin
/Business.Core.Test/obj
*.suo
/Business.Core/obj
/Business.Core/Business.Core.nupkg
/Business.Core/Business.Core.nupkg
*.nupkg
/Business.Core/Business.Core.nupkg
*.nupkg
/.vs/Business.Core/v15/Server/sqlite3
/packages/protobuf-net.2.3.2/lib
