<?xm1 version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name= "Business" type="Business.Configer.ConfigSection, Business.Core"/>
  </configSections>
  <Business>
    <Logger>
      <item business="WPWSession.BusinessMember" method="GetSysLog" type="Record" canWrite="false"></item>
      <item business="WPWSession.BusinessMember" method="*.*" type="Record" canWrite="true" canValue="All" canResult="true"></item>
      <item business="WPWSession.BusinessMember" method="*.*" type="Error" canWrite="true" canValue="All" canResult="true"></item>
      <item business="WPWSession.BusinessMember" method="*.*" type="Exception" canWrite="true" canValue="All" canResult="true"></item>
<item business="WPWSession.BusinessMember" method="*.*" type="Exception" canWrite="true" canValue="All" canResult="true"></item>
    </Logger>
  </Business>
</configuration>

<?xm1 version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name= "Business" type="Business.Configer.ConfigSection, Business.Core"/>
  </configSections>
  <Business>
    <Logger>
      <item business="namespace.class" method="*.*" type="Record" canWrite="true" canValue="All" canResult="true"></item>
      <item business="namespace.class" method="*.*" type="Error" canWrite="true" canValue="All" canResult="true"></item>
      <item business="namespace.class" method="*.*" type="Exception" canWrite="true" canValue="All" canResult="true"></item>
      <item business="namespace.class" method="Test" type="Record" canWrite="false" canValue="All" canResult="true"></item>
    </Logger>
    <Attribute>
      <item business="namespace.class" method="Test3" argument="token.A" attribute="Business.Attributes.SizeAttribute" member="Message" value="123"></item>
    </Attribute>
  </Business>
</configuration>